{#
  /**
   * @file
   * Theme implementation for the raw swisstopo latlon.
   *
   * Available variables:
   * - x: The Swiss Grid X value.
   * - y: The Swiss Grid Y value.
   *
   * @ingroup themeable
   */
#}

<div>
  <span class="swissgrid swissgrid-x"> {{ x }}</span>, <span class="swissgrid swissgrid-y">{{ y }}</span>
</div>